extends layouts/main-layout.pug

block content 
    .loadingSpinnerContainer 
        img(src="/images/loadingSpinner.gif", alt="loading spinner")
    .resultsContainer(style="visibility: hidden")

block headerBtn
    a(href="/messages/new")
        i.far.fa-plus-square 

block scripts 
    script(src="/js/inbox.js")