mixin createPostForm(userLoggedIn) 
    .postFormContainer
        .userImageContainer
            img(src=userLoggedIn.profilePic, alt="Profile Picture")
        .textareaContainer
            textarea#postTextarea(placeholder="What's happening?")
            .buttonsContainer
                button#submitPostButton(disabled="") Post